# Hypothesis Testing Exercise

#### Q.1.  A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units.A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('D:\\DATA_science\\DATA_science assignment\\Hypothesis_Testing\\Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
#-----> H0 = There is no difference in the diameter of the cutlet between two units.
#       H1 = There is difference in the diameter of the cutlet between two units.
#        alpha = 0.05

In [4]:
from scipy import stats
stats.ttest_ind(data['Unit A'],data['Unit B'])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [5]:
# Here pvalue > alpha , therefore  we fail to rejrct H0 that is accept H0.
#------> That is There is no difference in the diameter of the cutlet between two units.

####   Q.2.  A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
####  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [5]:
data1=pd.read_csv("D:\\DATA_science\\DATA_science assignment\\Hypothesis_Testing\\LabTAT.csv")
df=pd.DataFrame(data1)

In [6]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [7]:
#----->  here we have compare reports of four laboratories hence we use here ANOVA test.
#        H0 = There is no difference in average TAT among the different laboraties.
#        H1 = There is difference in average TAT among the different laboraties.
#        Given alpha = 0.05

In [8]:
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [9]:
# pvalue < alpha hence we reject H0 and accept H1
# That is there is difference in average TAT among the different laboraties.

#### Q.3.  Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [10]:
data2=pd.read_csv("D:\\DATA_science\\DATA_science assignment\\Hypothesis_Testing\\BuyerRatio.csv")
df1=pd.DataFrame(data2)
df1

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [11]:
# ----> H0 = All proportions are equal
#      H1 = Not all proportions are equal

# 1.Check p-value
# 2.If p-Value < alpha, we reject Null Hypothesis

In [12]:
from scipy.stats import chi2_contingency
chi2_contingency(df1.iloc[:,1:])

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [13]:
pvalue = 0.6603094907091882

## for alpha = 0.05, pvalue > alpha , Therefore we reject H0
#-----> All proportions are not equal.

#### Q.4.  TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [14]:
data3=pd.read_csv("D:\\DATA_science\\DATA_science assignment\\Hypothesis_Testing\\Costomer+OrderForm.csv")
data3

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
##  H0 : % of defective of all countries are equal i.e %Phillippines = %Indonesia = %Malta = %India.
##  H1 : at least one defective % is not equal.

##  Here we perform chi-square test.

## Here we perform chi-square test
p-value is 0.277>0.05
p high Ho fly hence accept null hypothesis i.e percentage defective  in all countries are equal
inferences:    as defective percentage is same in all countries there is no need of any action .

In [32]:
d1=pd.crosstab(data3.India, data3.Malta)

In [33]:
chi2_contingency(d1)

(1.419106436194816,
 0.23355053527979247,
 1,
 array([[  2.06666667,  17.93333333],
        [ 28.93333333, 251.06666667]]))

In [35]:
d2=pd.crosstab(data3.Phillippines, data3.Malta)
chi2_contingency(d2)

(0.1043743747062788,
 0.7466420539639729,
 1,
 array([[  2.99666667,  26.00333333],
        [ 28.00333333, 242.99666667]]))

In [36]:
d3=pd.crosstab(data3.Phillippines, data3.India)
chi2_contingency(d3)

(0.11520004362605206,
 0.7342998926385209,
 1,
 array([[  1.93333333,  27.06666667],
        [ 18.06666667, 252.93333333]]))

In [39]:
d3=pd.crosstab(data3.Phillippines, data3.India)
chi2_contingency(d3)

(0.11520004362605206,
 0.7342998926385209,
 1,
 array([[  1.93333333,  27.06666667],
        [ 18.06666667, 252.93333333]]))

#### p-value is p>0.05
#### p high Ho fly hence accept null hypothesis i.e percentage defective  in all countries are equal
#### inferences:    as defective percentage is same in all countries there is no need of any action .

#### Q.5.  Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis

In [16]:
data4=pd.read_csv("D:\\DATA_science\\DATA_science assignment\\Hypothesis_Testing\\Faltoons.csv")
data4.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [17]:
#   H0 = % of males versus females walking in to the store is not differ based on day of the week.
#   H1 = % of males versus females walking in to the store is differ based on day of the week.
#    alpha=0.05
#    We create a crosstable and use chisquare test

In [18]:
df4=pd.crosstab(data4.Weekdays,data4.Weekend)
df4

Weekend   Female  Male
Weekdays
Female       167   120
Male          66    47

In [19]:
from scipy.stats import chi2_contingency
chi2_contingency(df4)

(0.005274808283592733,
 0.9421022439386241,
 1,
 array([[167.1775, 119.8225],
        [ 65.8225,  47.1775]]))

In [20]:
# pvalue > alpha  Fail to reject H0 .. Accept H0
#----->     % of males versus females walking in to the store is not differ based on day of the week.